/*header {
    border: solid 1px red;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    display:inline;
}*/

body {
    font-size: 15pt;
}

input {
    font-size: 15pt;
}

button {
    height: 50px;
    border-radius: 5px 5px;
}

footer {
    margin-top: 5px;
}

.filaFichaje {
    padding:5px;
}

.claveFichaje {
    border: solid 1px red;
    border-radius: 5px 5px;
    padding: 2px;
    margin: 2px;
}

.parFichaje {
    border: solid 1px orange;
    border-radius: 5px 5px;
    padding: 2px;
    margin: 2px;
}

.horasFichaje {
    border: solid 1px green;
    border-radius: 5px 5px;
    padding: 2px;
    margin: 2px;
}

#fichajesSemanalCotenedor {
    margin-bottom:5px;
    overflow-x:auto;
    white-space:nowrap;
}

#fichajeHoraOpContenedor {
    border: solid 1px orange;
    border-radius: 5px 5px;
    padding: 5px;
    margin-bottom: 5px;
    display: none;
}

#fichajeHoraOpContenedor div {
    padding-bottom: 5px;
}

#sumarioSemanal {
    margin-bottom: 5px;
}

#claveOpContenedor {
    border: solid 1px orange;
    border-radius: 5px 5px;
    padding: 5px;
    margin-bottom: 5px;
    display: none;
}

#claveOpContenedor div {
    padding-bottom: 5px;
}

#botonesContenedor {
    margin-bottom: 5px;
}

#botonesContenedor div {
    margin-top:5px;
    margin-bottom: 5px;
}
